.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  white-space: nowrap;
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 353px;
}

.card {
  position: relative;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 0.4;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
  opacity: 1;
  cursor: pointer;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.card__like-btn:hover {
  cursor: pointer;
  box-shadow: none;
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}
@media screen and (max-width: 627px) {
  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 100%;
  }
  .card__image {
    height: 288px;
  }
}
