.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__edit-btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  margin-top: auto;
  background-color: transparent;
  opacity: 0.7;
  border: none;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.profile__new-post-btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  border: 0;
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 10px;
  width: 149px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
}

.profile__new-post-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__new-post-btn {
    width: 100%;
  }
}
